<header>
    <h1>Account Information</h1>
</header>

<section>
    <form id="account-form">
        <div class="input-group">
            <label for="firstname">Full Name</label>
            <input type="text" id="firstname" name="firstname" autocomplete="given-name" disabled />
            <input type="text" id="lastname" name="lastname" autocomplete="family-name" disabled />
        </div>

        <div class="input-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" autocomplete="username" disabled />
        </div>
        <div class="input-group">
            <label for="admin">Admin Status</label>
            <input type="text" id="admin" name="admin" disabled />
        </div>

        <h3>Address</h3>

        <div class="input-group">
            <label for="street">Street</label>
            <input type="text" id="street" name="street" autocomplete="street-address" disabled />
        </div>
        <div class="input-group">
            <label for="city">City</label>
            <input type="text" id="city" name="city" autocomplete="address-level2" disabled />
        </div>
        <div class="input-group">
            <label for="state">State</label>
            <input type="text" id="state" name="state" placeholder="XX" autocomplete="address-level1" disabled />
        </div>
        <div class="input-group">
            <label for="zipCode">ZIP Code</label>
            <input type="text" id="zipCode" name="zipCode" placeholder="xxxxx" autocomplete="postal-code" disabled />
        </div>
        <div class="input-group">
            <label for="country">Country</label>
            <input type="text" id="country" name="country" placeholder="XX" autocomplete="country" disabled />
        </div>

        <h3>Credit Card</h3>
        <div class="input-group">
            <label for="cardNumber">Card Number</label>
            <input type="tel" id="cardNumber" name="cardNumber" placeholder="xxxxxxxxxxxxxxxx" autocomplete="cc-number"
                disabled />
        </div>

        <h3>Contact</h3>
        <div class="input-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="xxx-xxx-xxxx" autocomplete="tel-national"
                disabled />
        </div>
        <div class="input-group">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" placeholder="example@domain.com" autocomplete="email"
                disabled />
        </div>

        <h3>Register and Login Time</h3>
        <div class="input-group">
            <label for="registerTime">Register Time</label>
            <input type="tel" id="registerTime" name="registerTime" placeholder="xxxx-xx-xx xx:xx:xx" disabled />
        </div>
        <div class="input-group">
            <label for="loginTime">Login Time</label>
            <input type="email" id="loginTime" name="loginTime" placeholder="xxxx-xx-xx xx:xx:xx" disabled />
        </div>
    </form>
</section>

<section>
    <div class="admin">
        <hr>

        <h2>Biggest Clients</h2>

        <div class="styled-table">
            <table id="biggest-clients-table">

            </table>
        </div>

        <h2>Difficult Clients</h2>

        <div class="styled-table">
            <table id="difficult-clients-table">

            </table>
        </div>

        <h2>Prospective Clients</h2>

        <div class="styled-table">
            <table id="prospective-clients-table">

            </table>
        </div>

        <h2>Good Clients</h2>

        <div class="styled-table">
            <table id="good-clients-table">

            </table>
        </div>

        <h2>Bad Clients</h2>

        <div class="styled-table">
            <table id="bad-clients-table">

            </table>
        </div>
    </div>
</section>